{{!

This file is a demonstration of embedding an inline map.

The map element, CSS and JS includes required are used in this source code.

}}
<!DOCTYPE html>
<html lang="{{site.locale-url-prefix}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>

  <body class="{{{site.locale-url-prefix}}}">

    <!-- BEGIN REQUIRED FOR INLINE -->

    <link href="css/common.min.css" rel="stylesheet">
    <link href="css/map.min.css" rel="stylesheet">
    
    <div id="includes"></div>

    <script src="js/common.min.js"></script>
    <script src="js/map.min.js"></script>

	<!-- A div with id="map" is also required -->

    <!-- END REQUIRED FOR INLINE -->
        
    <div style="float: left; margin: 100px;">
      <span style="color: #f00">inline</span>
      <br />
      <div id="map" class="map embedded" style="width: 400px; height: 400px; border: 1px solid #f00;"></div>
    </div>
    
    <script>
	$(function() {
		petajakarta.config.urlPrefix = 'https://petajakarta.org/banjir/'; // This setting will work on third-party hosting with the distributable folder
		petajakarta.start();
	});
	</script>
    
    <div style="float: right; margin: 100px;">
      <span style="color: #00f">iframe</span>
      <br />
      <iframe src="https://petajakarta.org/banjir/{{site.locale-url-prefix}}/map-embed/" style="width: 500px; height: 500px; border: 1px solid #00f;">no frames</iframe>
    </div>

  </body>
</html>
