#map {
height:600px;
margin-bottom: 20px;
cursor: default;
}

#headerwrap a{
  color:white;
  text-decoration: underline;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    white-space: normal;
}
.info h4 {
    margin: 5px;
    color: #777;
}

.legend {
     color: #555;
     line-height: 1;
     padding-top:5px;
}
.u {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    color:#000;
    background:#ff7800;
    border-radius:50%;
    border:2px solid #000;
}


.water{
    width: 24px;
    height: 12px;
    float: left;
    margin-right: 4px;
    margin-top:1px;
    opacity: 0.7;
    color:#000;
    background:blue;
    border-radius:0%;
    border:0px solid #000;
}

.c{
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    margin-top:0px;
    opacity: 0.7;
    color:#000;
    background:#1a42e2;
    border-radius:50%;
    border:2px solid #000;
}
