/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.jumbotron{
	margin-bottom:0px;
	background-color: #fff;
}

.container .text-muted{
	margin-top: 20px;
}

/* Custom masthead */
.custom-masthead {
  text-align: center;
}

@media screen and (min-width: 480px){
	.custom-masthead h1{
	  font-size: 120px;
	  font-weight: 600;
	  font-style: bold;
	  line-height: 1;
	  letter-spacing:2px;
	  color:#444;
	}
}

@media screen and (max-width: 480px){
	.custom-masthead h1{
	  margin-top:50px;
	  font-size: 60px;
	  font-weight: 600;
	  font-style: bold;
	  line-height: 1;
	  letter-spacing:2px;
	  color:#444;
	}
}
.custom-masthead h2{
	font-size: 40px;
}

#count{
	margin-bottom: 0px;
}

#report_text{
	margin-bottom: 0px;
}


#logo{
	margin-right:10px;
	margin-left:-10px;
}



#btnlang:hover{
	color:white;
}

#btntheme:hover{
	padding:15px;
}

/* Report table */
#reports{
	height:310px; 
	overflow:scroll; 
	margin-bottom:30px;
}

/* Leaflet map*/
#map {
height:600px;
margin-bottom: 20px;
cursor: default;
}

#headerwrap a{
	color:white;
	text-decoration: underline;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    white-space: normal;
}
.info h4 {
    margin: 5px;;
    color: #777;
}

.legend {
     color: #555;
     line-height: 1;
     padding-top:5px;
}
.u {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    color:#000;
    background:#ff7800;
    border-radius:50%;
    border:2px solid #000;
}


.water{
    width: 24px;
    height: 12px;
    float: left;
    margin-right: 4px;
    margin-top:1px;
    opacity: 0.7;
    color:#000;
    background:blue;
    border-radius:0%;
    border:0px solid #000;
}

.c{
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    margin-top:0px;
    opacity: 0.7;
    color:#000;
    background:#1a42e2;
    border-radius:50%;
    border:2px solid #000;
}
